asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
coverage==7.9.1
cryptography==42.0.7
defusedxml==0.8.0rc2
Django==5.0.1
django-countries==7.6.1
django-debug-toolbar==5.1.0
django-extensions==3.2.3
django-ratelimit==4.1.0
idna==3.7
MarkupSafe==2.1.5
oauthlib==3.2.2
pillow==11.1.0
pycparser==2.22
PyJWT==2.8.0
pyOpenSSL==24.1.0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
social-auth-app-django==5.4.1
social-auth-core==4.5.4
sqlparse==0.4.4
typing_extensions==4.13.2
tzdata==2023.4
urllib3==2.2.1
Werkzeug==2.2.2
