{% extends 'main/base.html' %}

{% block content %}

    <!-- Add note -->

    <div class="max-w-xl mx-auto mt-16 mb-5 flex w-full flex-col border rounded-lg bg-white p-8">

        <form method="post" action="." enctype="multipart/form-data" class="py-4 px-9">
            {% csrf_token %}

            <h2 class="title-font mb-1 text-lg font-medium text-gray-900">Add note</h2>

            <div class="mb-4">
                <label for="name" class="text-sm leading-7 text-gray-600">Name</label>
                <input type="text" id="name" name="name" required class="w-full rounded border border-gray-300 bg-white py-1 px-3 text-base leading-8 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" />
            </div>

            <div class="mb-4">
                <label for="body" class="text-sm leading-7 text-gray-600">Body</label>
                <textarea id="body" name="body" required class="h-32 w-full resize-none rounded border border-gray-300 bg-white py-1 px-3 text-base leading-6 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200"></textarea>
            </div>

            <button class="rounded border-0 bg-indigo-500 py-2 px-6 text-lg text-white hover:bg-indigo-600 focus:outline-none">Create</button>

        </form>

    </div>

{% endblock %}
