{% extends 'main/base.html' %}

{% block content %}

    <!-- upload file -->

    <div class="flex items-center justify-center">
        <div class="mx-auto w-full max-w-[550px] bg-white">
            <h1 class="mb-6 text-3xl">Upload file to "{{ project.name }}"</h1>

            <form method="post" action="." enctype="multipart/form-data" class="py-4 px-9">
                {% csrf_token %}
                
                <div class="mb-5">
                    <label for="id_name" class="mb-3 block text-base font-medium text-[#07074D]">
                        Files Name:
                    </label>
                    <input type="text" name="name" id="id_name" placeholder="example filename"
                           class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                </div>

                <div class="mb-6 pt-4">
                    <label class="mb-5 block text-xl font-semibold text-[#07074D]">
                        Upload File
                    </label>
                    <div class="mb-8">
                        <input type="file" name="attachment" id="id_attachment" class="sr-only" />
                        <label for="id_attachment"
                                class="relative flex min-h-[200px] items-center justify-center rounded-md border border-dashed border-[#e0e0e0] p-12 text-center">
                            <div>
                                <span class="mb-2 block text-xl font-semibold text-[#07074D]">
                                    Drop files here
                                </span>
                                <span class="mb-2 block text-base font-medium text-[#6B7280]">
                                    Or
                                </span>
                                <span
                                    class="inline-flex rounded border border-[#e0e0e0] py-2 px-7 text-base font-medium text-[#07074D]">
                                    Browse
                                </span>
                            </div>
                        </label>
                    </div>
                </div>

                <div>
                    <button class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
                        Send File
                    </button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
